---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

import PageLayout from "@/layouts/PageLayout.astro";
import Button from "@/components/ui/Button.astro";
import Faq from "@/components/ui/Faq.astro";
import FeaturedWorks from "@/components/FeaturedWorks.astro";

import photoProfil from "@/assets/photo_profil.jpg"
import { methodology, techs, questions } from "@/data/a-propos";

const featuredWorks = await getCollection('projects', entry => entry.data.isFeatured);
---


<PageLayout
  title="À propos"
  description="Digit'Alp est une micro-agence basée à Chambéry en Savoie. Accompagnés de partenaires, nous vous accompagnons sur tous types de projets digitaux. Notre cœur de métier : le développement web et la mise en place de solutions digitales pour tout type d'entreprise. Vous avez un besoin, nous y répondons."
  theme="light"
  metaTitle="Agence web Digit'Alp | Chambéry & Grenoble"
  metaDescription="Digit'Alp est une agence web basée à Chambéry en Savoie proposant un accompagnement digital aux acteurs locaux et nationaux. Nous vous expliquons notre méthode de travail et notre vision."
>
  <section class="container mx-auto space-y-10 px-4 py-10 md:space-y-20 md:px-0 md:py-20">
    <div class="grid grid-cols-1 items-center md:gap-8 md:grid-cols-5">
      <div class="space-y-4 col-span-3">
        <h2 class="text-4xl text-da md:text-5xl">Expert WordPress & <br/> développeur web créatif</h2>
        <p class="text-lg md:text-balance">Développeur web depuis maintenant 3 ans, j'ai commencé lors d'un master en <strong>marketing digital</strong> à utiliser WordPress et j'ai tout de suite voulu me spécialiser dans le <strong>développement web</strong>. Aujourd'hui, mon expertise s'oriente principalement sur le front-end, avec une attention particulière sur le design et les interfaces utilisateurs.</p>
        <p class="text-lg md:text-balance">Aujourd'hui, je me spécialise dans le développement web via <strong>WordPress</strong> et l'écosystème <strong>JavaScript</strong>. En maîtrisant ces technologies, je peux répondre à tout type de demande et apporter une expertise sur mesure aux besoins de mes clients.</p>
      </div>
      <Image src={photoProfil} alt="Photo de Victor Lebecq développeur web à Chambéry" class="col-span-2 w-2/3 aspect-square rounded-2xl object-cover object-center" />

    </div>

    <div class="space-y-4">
      <h2 class="text-4xl text-da md:text-5xl">Ma méthodologie</h2>
        <ul class="grid grid-cols-1 gap-2 md:gap-6 md:grid-cols-3">
          {methodology.map(methodology => (
            <li class="flex flex-col justify-center items-center gap-4 rounded-lg  p-2 md:p-6">
              <Image src={methodology.icon} alt={methodology.title} class="size-12 md:size-20" />
              <h3 class="text-xl md:text-2xl md:mb-2">{methodology.title}</h3>
              <p>{methodology.text}</p>
            </li>
          ))}
        </ul>
    </div>

    <div class="space-y-4">
      <h2 class="text-4xl text-da text-center md:text-5xl">Des outils adaptés à chaque projet</h2>
        <ul class="grid grid-cols-2 md:grid-cols-4">
          {techs.map(tech => (
            <li class="group flex flex-col justify-center items-center gap-4 rounded-lg p-6">
              <Image src={tech.icon} alt={`Logo ${tech.label}`} class="size-12 object-contain group-hover:-translate-y-2 transition-transform ease-in-out duration-300 md:size-16" />
              <h3 class="">{tech.label}</h3>
            </li>
            ))}
        </ul>
    </div>
  </section>

  <section class="container mx-auto px-4 md:px-0">
    <div class="grid grid-cols-1 items-center gap-4 md:grid-cols-2 md:items-start">
      <div class="col-span-1 space-y-4">
        <h2 class="text-4xl text-da md:text-5xl">Vous avez une question ?</h2>
        <p class="text-lg text-balance">Un projet en tête ? Des questions sur notre méthode de travail ? Envie d'en savoir plus sur notre agence ? Discutons de tout cela lors d'une rencontre !</p>
        <div class="hidden md:block">
        <Button label="Envoyer un message" link="/contact" style="primary" />
        </div>
      </div>
      <Faq questions={questions} />
      <div class="block md:hidden">
        <Button label="Envoyer un message" link="/contact" style="primary" />
      </div>
    </div>
  </section>

  <FeaturedWorks projects={featuredWorks} title="Nos projets" subTitle="Nos clients, des projets uniques" theme="light" />
</PageLayout>