---
import { Image } from "astro:assets";
import logo from '@/assets/logo.svg';
import Link from "./ui/Link.astro";

const currentYear = new Date().getFullYear();

const navMenus = [
  {
    name : 'Liens utiles',
    links : [
      { label: 'Projets', href: '/projets' },
      { label: 'Expertises', href: '/expertises' },
      { label: 'A propos', href: '/a-propos' },
      { label: 'Contact', href: '/contact' },
    ]
  },
  {
    name : 'Expertises',
    links : [
      { label: 'Création de site web', href: '#' },
      { label: 'Développement personnalisé', href: '#' },
      { label: 'Référencement naturel', href: '#' },
      { label: 'Maintenance & Infogérance', href: '#' },
    ]
  },
  {
    name : 'Wordpress',
    links : [
      { label: 'Site wordpress à Chambéry', href: '#' },
      { label: 'Site wordpress à Grenoble', href: '#' },
      { label: 'Site wordpress à Annecy', href: '#' },
      { label: 'Site wordpress à Genève', href: '#' },
    ]
  }
]


---

<footer class="bg-da text-da-white  pt-20">
  <div class="container mx-auto px-4 md:px-0 xl:grid xl:grid-cols-4 xl:gap-8">
    <div class="space-y-8 flex flex-col justify-center xl:justify-start items-center xl:items-start">
      <a href="/" aria-label="Bouton de retour à l'accueil">
        <Image src={logo} alt="Logo" class="w-28 md:w-32" />
      </a>
    </div>
    <div class="mt-16 grid grid-cols-2 md:grid-cols-3 xl:col-span-3 xl:mt-0 xl:justify-items-end">
      {navMenus.map(({ name, links }) => (
        <div>
          <h4 class="text-xl text-da-light">{name}</h4>
          <ul class="font-normal text-da-primaryLight mt-6 space-y-4">
            {links.map(({ label, href }) => (
              <li>
                <Link label={label} url={href} />
              </li>
            ))}
          </ul>
        </div>
      ))}
    </div>
  </div>
  <div class="container flex flex-col-reverse gap-4 items-center mt-16 py-8 text-xs text-da-light border-t mx-auto sm:flex-row sm:justify-between sm:items-start">
    <p class=" leading-5">{currentYear} &copy; Digit'Alp. Tous droits réservés.</p>
    <nav>
      <ul class="flex gap-4">
        <li class="hover:text-da-white transition-colors ease-in-out duration-500"><a href="#">Mentions légales</a></li>
        <li class="hover:text-da-white transition-colors ease-in-out duration-500"><a href="#">Politique de confidentialité</a></li>
        <li class="hover:text-da-white transition-colors ease-in-out duration-500"><a href="#">Plan du site</a></li>
      </ul>
    </nav>
  </div>

</footer>