---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";


type Props = {
  expertise: CollectionEntry<"expertises">;
}

const { expertise } = Astro.props as Props;

const { title, description, icon } = expertise.data;


---

<li class="relative flex flex-col bg-da-50 hover:border-da-300 rounded-xl border border-dashed border-da-100 items-start gap-6 px-4 py-8 md:flex-row md:items-center md:px-12 md:py-8">
  <Image src={icon} alt={title} class="absolute right-0  bottom-0 size-20 opacity-10 md:size-32" format="svg" />
  <div class="space-y-2">
    <h3 class="text-xl text-da md:text-2xl">{title}</h3>
    <p class="text-balance">{description}</p>
    <a href=`/expertises/${expertise.id}` class="relative after:content-[''] after:absolute after:w-full after:h-0.25 after:bg-da-black after:bottom-0 after:right-0 hover:after:w-0 after:transition-all after:origin-left after:duration-500 after:ease-[cubic-bezier(.215,.61,.355,1)]">Découvrir</a>
  </div>
</li>