---
import { getCollection, render, getEntries } from 'astro:content';
import { Image } from 'astro:assets';

import PageLayout from '@/layouts/PageLayout.astro';
import Button from '@/components/ui/Button.astro';
import Faq from '@/components/ui/Faq.astro';
import FeaturedWorks from '@/components/FeaturedWorks.astro';

export async function getStaticPaths() {
  const expertises = await getCollection("expertises");
  
  return expertises.map((expertise) => ({
    params: { id: expertise.id },
    props: { expertise },
  }));
}

const { expertise } = Astro.props;
const { Content } = await render(expertise)
const { title, description, subTitle, subText, specList, questions, relatedWorks } = expertise.data;

const featuredWorks = await getEntries(relatedWorks);

---

<PageLayout title={title} description={description} theme='light'>

  <section class="container mx-auto px-4 py-10 space-y-6 md:px-0 md:py-20">
    <h2 class="text-4xl text-da lg:w-1/2 md:text-5xl">{subTitle}</h2>
    <p class="text-lg text-balance lg:w-1/2">{subText}</p>
    <ul class="grid grid-cols-1 gap-2 mt-10 md:gap-6 md:grid-cols-3">
      {specList.map(spec => (
        <li class="flex flex-col justify-center items-center gap-4 rounded-lg  p-2 md:p-6">
          <Image src={spec.illustration} alt={spec.label} class="size-12 md:size-20" />
          <h3 class="text-xl md:text-2xl md:mb-2">{spec.label}</h3>
          <p>{spec.description}</p>
        </li>
      ))}
    </ul>

    <div class="grid grid-cols-1 items-center gap-4 mt-20 md:grid-cols-2 md:items-start">
      <div class="col-span-1 space-y-4">
        <h3 class="text-3xl text-da md:text-4xl">Questions fréquentes</h3>
        <p class="text-lg text-balance md:mb-6">Un projet dans les tuyaux ? Des questions sur notre méthode de travail ? Envie d'en savoir plus sur notre agence. Discutons de tout cela lors d'une rencontre !</p>
        <div class="hidden md:block">
        <Button label="Envoyer un message" link="/contact" style="primary" />
        </div>
      </div>
      <Faq questions={questions} />
      <div class="block md:hidden">
        <Button label="Envoyer un message" link="/contact" style="primary" />
      </div>
    </div>
  </section>


  <FeaturedWorks featuredWorks={featuredWorks} title="Nos projets" subTitle={`Nos projets en ${title}`} />

  <Content />
</PageLayout>
