---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

import PageLayout from "@/layouts/PageLayout.astro";
import { getEntries } from "astro:content";
import { render } from "astro:content";
import CtaBanner from "@/components/CtaBanner.astro";

export async function getStaticPaths() {
  const projects = await getCollection("projects");
  
  return projects.map((project) => ({
    params: { id: project.id },
    props: { project },
  }));
}

const { project } = Astro.props;
const { Content } = await render(project)

const { title, description, featuredImage, client, date, clientSector, category, technologies, siteurl, relatedProjects } = project.data;
  
const relatedWorksData = await getEntries(relatedProjects)


---

<PageLayout 
  title={title} 
  description={description} 
  theme="dark"
  metaTitle={title + ' | Digit\'Alp'}
  metaDescription={description}
>
  <section class="container px-4 space-y-10 mx-auto md:px-0 md:space-y-20">
    <ul class="grid grid-cols-1 gap-4 h-fit md:grid-cols-3 md:gap-8">
      <li>
        <h3 class="text-da-300 text-base md:mb-2 md:text-lg ">Client</h3>
        <span class="text-lg md:text-xl">{client}</span>
      </li>
      <li>
        <h3 class="text-da-300 text-base md:mb-2 md:text-lg">Secteur</h3>
        <span class="text-lg md:text-xl">{clientSector}</span>
      </li>
      <li>
        <h3 class="text-da-300 text-base md:mb-2 md:text-lg">Année du projet</h3>
        <span class="text-lg md:text-xl">{date.getFullYear()}</span>
      </li>
      <li>
        <h3 class="text-da-300 text-base md:mb-2 md:text-lg">Expertises</h3>
        <span class="text-lg md:text-xl">{category}</span>
      </li>
      <li>
        <h3 class="text-da-300 text-base md:mb-2 md:text-lg">Technologies</h3>
        <span class="text-lg md:text-xl">{technologies.join(', ')}</span>
      </li>
      {siteurl && (
        <li>
          <h3 class="text-da-300 text-sm md:mb-2 md:text-base">Résultats</h3>
          <a href={siteurl} class="relative text-lg after:content-[''] after:absolute after:w-full after:h-0.25 after:bg-da-white after:bottom-0 after:right-0 hover:after:w-0 after:transition-all after:origin-left after:duration-500 after:ease-[cubic-bezier(.215,.61,.355,1)] md:text-xl">Découvrir le site</a>
        </li>
      )}
    </ul>
    {featuredImage && (
      <Image src={featuredImage} alt={title} class="w-full object-cover object-center rounded-2xl" />
    )}
  </section>

  <section id="mdContent" class="container mx-auto py-10 px-4 space-y-4 md:px-20 md:py-20 xl:px-80">
    <Content />
  </section>

</PageLayout>

